dist: trusty
sudo: required
language: go
go: 1.6

# services:
#   - docker

env:
  global:
  - DOCKER_COMPOSE_VERSION=1.7.0
  - DOCKER_VERSION=1.11.1
  - GOPATH=$HOME/go

before_install:
  - ./script/upgrade-docker

install:
  - script/bootstrap
script:
  - script/test
  - script/compose
  - script/compose-test

notifications:
  email: false
  slack: false

branches:
  only:
  - master
